@model News
@{
    ViewData["Title"] = "Edit News Partner";
}
<head>
    <script src="https://kit.fontawesome.com/51866e0675.js" crossorigin="anonymous"></script>
</head>

<div class="content-wrapper" style="margin-left:-25px;padding-top:0px">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between m-4">
                    <h3>News Edit</h3>
                    <a asp-action="index" class="btn btn-success">Go Back</a>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Edit News</div>
                        <hr>
                        <h6>Create Date: <span class="text-info">@Model.CreatedAt</span></h6>
                        <hr>
                        <form asp-action="edit" method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="col">
                                    <label asp-for="ImageFile" class="mt-2">Enter ImageFile</label>
                                    <input class="form-control" asp-for="ImageFile" placeholder="ImageFile">
                                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                                    @if (Model.Image != null)
                                    {
                                        <div class="img-box mt-2" style="position:relative;display:inline-block">
                                            <input type="hidden" name="Image" value="@Model.Image" />
                                            <img width="250" src="~/uploads/news/@Model.Image" />
                                        </div>
                                    }
                                </div>
                            </div>

                            <button type="submit" class="btn btn-light px-5 mt-3">EDIT</button>
                        </form>
                    </div>
                </div>
            </div>

        </div><!--End Row-->
        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>

</div>


