@model ResetPasswordAdminViewModel
@{
    Layout = null;
    ViewData["Title"] = "Drizly: Forgot Password?";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme - Multipurpose Bootstrap4 Admin Template</title>
    <!-- loader-->
    <link href="~/manage/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/manage/assets/js/pace.min.js"></script>
    <link rel="icon" href="~/manage/assets/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="~/manage/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/manage/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/manage/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/manage/assets/css/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme2">

    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="height-100v d-flex align-items-center justify-content-center">
            <div class="card card-authentication1 mb-0">
                <div class="card-body">
                    <div class="card-content p-2">
                        <div class="card-title text-uppercase pb-2">Reset Password</div>
                        <p class="pb-2">Please enter your email address. You will receive a link to create a new password via email.</p>
                        <form asp-action="resetpassword" method="post">
                            <input type="hidden" asp-for="Token" />
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="NewPassword">New Password</label>
                                <input type="password" placeholder="New Password" class="form-control" asp-for="NewPassword" required />
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input type="password" placeholder="Confirm Password" class="form-control" asp-for="ConfirmPassword" required />
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <button type="submit" class="btn btn-light btn-block mt-3">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div><!--wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/manage/assets/js/jquery.min.js"></script>
    <script src="~/manage/assets/js/popper.min.js"></script>
    <script src="~/manage/assets/js/bootstrap.min.js"></script>

    <!-- sidebar-menu js -->
    <script src="~/manage/assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="~/manage/assets/js/app-script.js"></script>


</body>
</html>


