@model AdminCreateViewModel
@using DrizlyBackEnd.Services
@inject LayoutService layoutService
@{
    Layout = null;
    var settings = layoutService.GetSettings();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>
    <!-- loader-->
    <link href="~/manage/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/manage/assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="~/manage/assets/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="~/manage/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/manage/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/manage/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/manage/assets/css/app-style.css" rel="stylesheet" />

</head>

<body class="bg-theme bg-theme2">

    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>
    <!-- end loader -->
    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="card card-authentication1 mx-auto my-4">
            <div class="card-body">
                <div class="card-content p-2">
                    <div class="text-center">
                        <a asp-controller="dashboard" asp-action="index">
                          <img src="~/uploads/settings/@settings["HeaderLogo"]" width="70" alt="logo icon">
                        </a>
                    </div>
                    <div class="card-title text-uppercase text-center py-3">Create new Admin</div>
                    <form asp-action="create" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="FullName" class="sr-only">Full Name</label>
                            <div class="position-relative has-icon-right">
                                <input asp-for="FullName" required type="text" class="form-control input-shadow" placeholder="Enter Full Name">
                                <div class="form-control-position">
                                    <i class="icon-user"></i>
                                </div>
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="sr-only">User Name</label>
                            <div class="position-relative has-icon-right">
                                <input asp-for="UserName" required type="text" class="form-control input-shadow" placeholder="Enter User Name">
                                <div class="form-control-position">
                                    <i class="icon-user"></i>
                                </div>
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName" class="sr-only">Role</label>
                            <div class="position-relative has-icon-right">
                                <select class="form-control" asp-for="Role">
                                    <option value="Creator">Creator</option>
                                    <option value="Editor">Editor</option>
                                    <option value="Reader">Reader</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Role"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Age" class="sr-only">Age</label>
                            <div class="position-relative has-icon-right">
                                <input asp-for="Age" required min="0" type="number" class="form-control input-shadow" placeholder="Enter Age">
                                <div class="form-control-position">
                                    <i class="icon-cursor"></i>
                                </div>
                                <span class="text-danger" asp-validation-for="Age"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="sr-only">Email</label>
                            <div class="position-relative has-icon-right">
                                <input required type="email" asp-for="Email" class="form-control input-shadow" placeholder="Enter Email">
                                <div class="form-control-position">
                                    <i class="icon-envelope-open"></i>
                                </div>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="sr-only">Password</label>
                            <div class="position-relative has-icon-right">
                                <input type="password" asp-for="Password" class="form-control input-shadow" placeholder="Choose Password">
                                <div class="form-control-position">
                                    <i class="icon-lock"></i>
                                </div>
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="sr-only">Confirm Password</label>
                            <div class="position-relative has-icon-right">
                                <input type="password" asp-for="ConfirmPassword" class="form-control input-shadow" placeholder="Confirm Password">
                                <div class="form-control-position">
                                    <i class="icon-lock"></i>
                                </div>
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <button type="submit" class="btn btn-light btn-block waves-effect waves-light">Create</button>
                    </form>
                </div>
            </div>
        </div>

        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div><!--wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/manage/assets/js/jquery.min.js"></script>
    <script src="~/manage/assets/js/popper.min.js"></script>
    <script src="~/manage/assets/js/bootstrap.min.js"></script>

    <!-- sidebar-menu js -->
    <script src="~/manage/assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="~/manage/assets/js/app-script.js"></script>

</body>
</html>
