@model ProductComment

    <hr />
    <form class="review-form" asp-action="comment" asp-controller="shop" method="post">
        <h2>Write a review</h2>
        <div class="rating-stars">
            <div class="stars-wrapper">
                <label>Rating</label>
                <div class="stars" style=" align-self: center;">
                    <input  type="radio" value="1" asp-for="Rate" />
                    <input  type="radio" value="2" asp-for="Rate" />
                    <input  type="radio" value="3" asp-for="Rate" />
                    <input  type="radio" value="4" asp-for="Rate" />
                    <input  type="radio" value="5" asp-for="Rate" />
                </div>
            </div>
        </div>
        <div class="your-review-wrapper">
            <div class="form__group">
                <label asp-for="Text" class="form__label">Your Review</label>
                <textarea asp-for="Text" class="form__field" placeholder="Your Review" rows="4"></textarea>
                <span class="text-danger" asp-validation-for="Text"></span>
            </div>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" value="@Model.ProductId" name="productId" />
        <span class="submit-cancel-wrapper">
            <button class="submit-review-btn" type="submit">
                <span>Submit</span>
            </button>
            <a class="cancel-review-btn">
                <span>Cancel</span>
            </a>
        </span>
    </form>
    <style>
        .cancel-review-btn {
            background-color: #e12c2c;
            border-radius: 5px;
            position: relative;
        }

            .cancel-review-btn span {
                position: absolute;
                color: white !important;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        .stars input {
            margin-right: 4px;
            height: 15px;
            width:15px;
        }
    </style>