@model List<Product>
@{ int count = 0;}
<ul>
    @foreach (var item in Model)
    {
        count++;
        <li>
            <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Id" class="d-flex justify-content-between" id="search-list-item-@count">
                <img src="~/uploads/products/@item.Image">
                <span class="font-weight-bolder">@item.Name</span>
                <span>
                    @if (item.DiscountPercent > 0)
                    {
                         <span class="regular-price font-weight-bold text-danger">@((item.SalePrice * (1 - item.DiscountPercent / 100)).ToString("0.00")) $</span>
                    }
                    else
                    {
                        <span class="regular-price font-weight-bolder text-danger">@item.SalePrice $</span>
                    }
                </span>
            </a>
        </li>
    }

</ul>
