

<form action="#" method="post" class=" d-block d-md-flex">
    <input id="entercoupon" type="text" placeholder="Enter Your Coupon Code" required />
    <button disabled class="btn btn-sqr apply-coupon-btn"><span class="font-weight-bolder apply-coupon-text">Apply Coupon</span></button>
    <input style="opacity:0;" type="checkbox" id="couponcheckbox" />
</form>