@model Product
@{
    ViewData["Title"] = "Create";
}
<style>
    select option {
        background: rgba(0,0,0, -0.96) !important;
    }
</style>
<div class="content-wrapper" style="margin-left:-25px;padding-top:0px">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between m-4">
                    <h3>Product Create</h3>
                    <a asp-action="index" class="btn btn-success">Go Back</a>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Create New Product</div>
                        <hr>
                        <form asp-action="create" method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label asp-for="Name">Name</label>
                                    <input class="form-control" max="85" asp-for="Name" placeholder="Enter Name">
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label asp-for="Desc">Desc</label>
                                    <input class="form-control" max="800" asp-for="Desc" placeholder="Enter Desc">
                                    <span class="text-danger" asp-validation-for="Desc"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label asp-for="BrandId">Brands</label>
                                    <select class="form-control" asp-for="BrandId" asp-items="@new SelectList(ViewBag.Brands, nameof(Brand.Id), nameof(Brand.Name))">
                                    </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label asp-for="CountryId">Countries</label>
                                    <select class="form-control" asp-for="CountryId" asp-items="@new SelectList(ViewBag.Countries, nameof(Country.Id), nameof(Country.Name))">
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-4">
                                    <label asp-for="CostPrice">CostPrice</label>
                                    <input class="form-control" step="any" type="number" asp-for="CostPrice" required>
                                    <span class="text-danger" asp-validation-for="CostPrice"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="SalePrice">SalePrice</label>
                                    <input class="form-control" step="any" type="number" asp-for="SalePrice" required>
                                    <span class="text-danger" asp-validation-for="SalePrice"></span>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label asp-for="DiscountPercent">DiscountPercent</label>
                                    <input class="form-control" step="any" type="number" asp-for="DiscountPercent" required>
                                    <span class="text-danger" asp-validation-for="DiscountPercent"></span>
                                </div>
                            </div>
                            <div class="form-row" style="padding:0px 25px;">
                                @* Image*@
                                <div class="col">
                                    <label asp-for="ImageFile">Product Image</label>
                                    <input class="form-control" asp-for="ImageFile" placeholder="Select image">
                                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                                </div>
                                <div class="col">
                                    <label for="Category">Categories</label>
                                    <select class="form-control" for="Category" id="categoryId" asp-items="@new SelectList(ViewBag.Categories, nameof(TypeProduct.Category.Id), nameof(TypeProduct.Category.Name))">
                                    </select>
                                    <input class="form-control" type="hidden" asp-for="CategoryId">
                                </div>
                                <div class="col">
                                    <label asp-for="TypeProductId">Types</label>    
                                    <select class="form-control" asp-for="TypeProductId" id="typeProductId">
                                        <option value="0" disabled selected hidden id="choosetype">Choose Type</option>

                                        @foreach (var type in ViewBag.Type)
                                        {
                                            <option data-category="@type.CategoryId" value="@type.Id">@type.Name</option>
                                        }
                                    </select>
                                    <span class="text-danger" asp-validation-for="TypeProductId"></span>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-check my-3 pl-5 mr-3">
                                    <input class="form-check-input" type="checkbox" asp-for="IsAvailable">
                                    <label class="form-check-label" asp-for="IsAvailable">
                                        IsAvailable
                                    </label>
                                </div>
                                <div class="form-check my-3 pl-5 mr-3">
                                    <input class="form-check-input" type="checkbox" asp-for="IsFeatured">
                                    <label class="form-check-label" asp-for="IsFeatured">
                                        IsFeatured
                                    </label>
                                </div>
                                <div class="form-check my-3 pl-4 is-packet-wrapper">
                                    <input class="form-check-input" id="isPacketInput" type="checkbox" asp-for="IsPacket">
                                    <label class="form-check-label" asp-for="IsPacket">
                                        IsPacket
                                    </label>
                                </div>
                                <div class="form-check my-3 pl-5 is-drink-wrapper" style="display:none">
                                    <input class="form-check-input" id="isExtraDrinkInput" type="checkbox" for="IsExtraDrink">
                                    <label class="form-check-label" for="IsExtraDrink">
                                        IsDrink
                                    </label>
                                </div>
                            </div>
                            <div class="form-row SizeorCountWrapper">
                                <div class="form-group col-lg-6 productSizeContainer">
                                    <label asp-for="ProductSizeId">Product Size</label>
                                    <select class="form-control" asp-for="ProductSizeId" asp-items="@new SelectList(ViewBag.ProductSize,nameof(ProductSize.Id),nameof(ProductSize.Size))">
                                    </select>
                                </div>
                                <div class="form-group col-lg-6 productCountContainer" style="display: none">
                                    <label asp-for="ProductCountId">Product Count in a Pack</label>
                                    <select class="form-control" asp-for="ProductCountId" asp-items="@new SelectList(ViewBag.ProductCountPack,nameof(ProductCount.Id),nameof(ProductCount.SizePack))">
                                    </select>
                                </div>
                                <div class="col-lg-6 form-group" id="sweetdrywrapper" style="display:none">
                                    <label asp-for="SweetDryScaleId">Sweet-Dry Scale</label>
                                    <select class="form-control" asp-for="SweetDryScaleId" asp-items="@new SelectList(ViewBag.Sweetdry, nameof(SweetDryScale.Id), nameof(SweetDryScale.Name))">
                                    </select>
                                </div>
                                <div class="form-group col-lg-4" id="winefoorpairingwrapper" style="display:none">
                                    <label asp-for="WineFoodPairingIds">Wine Food Pairings</label>
                                    <select class="form-control colors-select"  name="winefoodpairingIds[]" multiple asp-items="@(new SelectList(ViewBag.WineFoodPairing,"Id","Name"))">
                                    </select>
                                </div>
                                <div class="col-lg-6 form-group" id="liquorflavorwrapper" style="display:none">
                                    <label asp-for="LiquorFlavorId">Liquor Flavor</label>
                                    <select class="form-control" asp-for="LiquorFlavorId" asp-items="@new SelectList(ViewBag.LiquorFlavor, nameof(LiquorFlavor.Id), nameof(LiquorFlavor.Name))">
                                    </select>
                                </div>
                                <div class="col-lg-4" id="liquorcolorwrapper" style="display:none">
                                    <label asp-for="LiquorColorId">Liquor Color</label>
                                    <select class="form-control" asp-for="LiquorColorId" asp-items="@new SelectList(ViewBag.LiquorColor, nameof(LiquorColor.Id), nameof(LiquorColor.Color))">
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-4" id="abvwrapper">
                                    <label asp-for="Abv">Alcohol Percentage <span class="text-danger">(%)</span></label>
                                    <input class="form-control" type="number" step="any" min="0" max="100" asp-for="Abv">
                                    <span class="text-danger" asp-validation-for="Abv"></span>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success create-product-btn mt-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



