@model CheckoutViewModel
@{
    ViewData["Title"] = "Drizly: CheckOut";
}
<main>
    <!-- checkout main wrapper start -->
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Checkout</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <div class="checkout-page-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Checkout Login Coupon Accordion Start -->
                    <div class="checkoutaccordion" id="checkOutAccordion">
                        <div class="card">
                            <h5>
                                Have A Coupon?
                                <span id="couponaccordion">
                                    Click
                                    Here To Enter Your Code
                                </span>
                                <span class="text-success couponapplytext" style="display:none;">
                                    Coupon's used :)
                                </span>
                            </h5>

                            <div id="couponaccordionbody" style="display:none;">
                                <div class="card-body">
                                    <div class="cart-update-option">
                                        <div class="apply-coupon-wrapper">
                                                <input name="coupon" form="order-form" max="36" id="entercoupon" type="text" placeholder="Enter Your Coupon Code" />
                                                <button disabled class="btn btn-sqr apply-coupon-btn"><span class="font-weight-bolder apply-coupon-text">Apply Coupon</span></button>
                                                <input style="opacity:0;" type="checkbox" id="couponcheckbox" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Login Coupon Accordion End -->
                </div>
            </div>
            <div class="row">
                <!-- Checkout Billing Details -->
                <div class="col-lg-6">
                    <div class="checkout-billing-details-wrap">
                        <h4 class="checkout-title">Billing Details</h4>
                        <div class="billing-form-wrap">
                            @Html.Partial("_CheckoutFormPartial", Model.Order)
                        </div>
                    </div>
                </div>

                <!-- Order Summary Details -->
                <div class="col-lg-6">
                    <div class="order-summary-details">
                        <h4 class="checkout-title">Your Order Summary</h4>
                        <div class="order-summary-content">
                            <!-- Order Summary Table -->
                            <div class="order-summary-table table-responsive text-center">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Products</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Basket.BasketItems)
                                        {
                                            <tr>
                                                <td>
                                                    <a asp-controller="shop" asp-action="detail" asp-route-id="@item.Product.Id">@item.Product.Name <strong class="font-weight-bolder">( @item.Count )</strong></a>
                                                </td>
                                                <td>$@((item.Product.DiscountPercent>0? (item.Product.SalePrice*(1-item.Product.DiscountPercent/100))*item.Count :item.Product.SalePrice*item.Count).ToString("0.00"))</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Total Amount</td>
                                            <td><strong>$@Model.Basket.TotalPrice.ToString("0.00")</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="summary-footer-area">
                                <button type="submit" form="order-form" class="btn btn-sqr mt-2 placeorderbtn"><span class="font-weight-bolder">Place Order</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- checkout main wrapper end -->
</main>